.tarjeta-juego {
  background: #1f1f1f;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  transition: transform 0.2s;
}

.tarjeta-juego img {
  width: 100%;
  border-radius: 8px;
}

.tarjeta-juego:hover {
  transform: scale(1.05);
}
.tarjeta-juego h3 {
  margin: 10px 0 5px 0;
  font-size: 1.2em;
}